# FLASK_SECRET_KEY (for cookie session security)
# uv run python3 -c 'import secrets; print(secrets.token_hex())'
FLASK_SECRET_KEY=''

# FLASK_CLIENT_SECRET_JWK (for OAuth confidential client)
# uv run ./generate_jwk.py
FLASK_CLIENT_SECRET_JWK=''